<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>A fantastical adventure</h1>
    <p>One day, @Model.Person1 and @Model.Person2 were walking through the woods,
    when suddenly a giant @Model.Animal appeared. "@Model.Exclamation!"
    @Model.Person1 cried. The two of them @Model.Verb as quickly as possible,
    and when they were safe, @Model.Person1 and @Model.Person2 gave each other a giant @Model.Noun.</p>
  </body>
</html>